*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* primary */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --obalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
  /*    (background)     */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  /*     (circle)     */
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

@font-face {
  font-family: "HanKen Grotesk";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
/* 500 700 800 */

body {
  font-size: 18px;
  font-family: "HanKen Grotesk", sans-serif;
  font-weight: 500;
}

h2 {
  font-size: 1.3rem;
}

#result-section {
  height: 45vh;
  background: linear-gradient(
    0deg,
    rgba(62, 43, 233, 1) 18%,
    rgba(101, 87, 255, 1) 100%
  );
  color: var(--white);
  text-align: center;
  border-radius: 0 0 3rem 3rem;
}

#result-section h2 {
  padding-top: 1rem;
  color: var(--white);
  opacity: 50%;
}

#result-circle {
  background: linear-gradient(var(--violet-blue), var(--persian-blue));
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#result-circle p {
  font-size: 1rem;
  color: hsl(0 0% 100% / 50%);
  font-weight: 900;
  line-height: 1.2;
}

#result {
  font-weight: 700;
  font-size: 4rem;
  display: block;
  color: hsl(0, 0%, 100%);
}

.description {
  margin: 0 auto;
  width: 60%;
  font-weight: 700;
}

#desc-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

#desc-text {
  color: hsl(0, 0%, 70%);
  font-size: 1rem;
}

/* Summary Section */
main {
  width: 85%;
  margin: 1rem auto;
  margin-top: 2rem;
  color: var(--dark-gray-blue);
}

main h2 {
  margin-bottom: 1.2rem;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  height: 4rem;
  padding: 0.7rem 1rem;
  border-radius: 0.8rem;
  background-color: lightblue;
}

.category:nth-child(1),
.category:nth-child(1) > .category-name {
  background-color: #fff6f7;
  color: var(--light-red);
}

.category:nth-child(2),
.category:nth-child(2) > .category-name {
  background-color: #fffaf4;
  color: var(--light-red);
  color: var(--orangey-yellow);
}

.category:nth-child(3),
.category:nth-child(3) > .category-name {
  background-color: #f2fdf9;
  color: var(green-teal);
}
.category:nth-child(4),
.category:nth-child(4) > .category-name {
  background-color: #f4f4fe;
  color: var(--obalt-blue);
}

.category-name {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-name img {
  margin-right: 0.6rem;
}

.category-score {
  font-weight: 600;
  color: hsl(224 30% 27% / 70%);
}

.score {
  font-weight: 800;
  color: hsl(224 30% 27% / 100%);
}

#continue-btn {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 4rem;
  padding: 0.7rem 1rem;
  color: var(--white);
  background-color: var(--dark-gray-blue);
  border-radius: 1.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  border: 0;
  overflow: hidden;
  transition: color 0.3s;
  cursor: pointer;
  margin-top: 1.2rem;
}

#continue-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(
    0deg,
    rgba(62, 43, 233, 1) 18%,
    rgba(101, 87, 255, 1) 100%
  );
  opacity: 0;
  transition: opacity 0.2s ease;
}

#continue-btn:hover::before {
  opacity: 1;
}

/* FOOTER */
footer {
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1440px) {
  body {
    display: none;
    background-color: black;
  }
}
